30 июня закончена работа от 1<sup>-й</sup> до 37<sup>-й</sup> карточки-демотиватора. 

Карточка З7.<sup>-мь</sup> ["**Зима близко**"](/SignsOfTrouble/) (*Признаки непрятностей*)

Осталось 5.<sup>-ть</sup>

Идёт работа над карточкой 38.<sup>-й</sup> ["**Гринвич далеко**"](/OffTheField/) (*Игрок вне поля*)

Через некоторое время сайт будет другим.

Пока проект завершается, можете перейти на мой **[сайт терапевта](https://ivlev.github.io)** или посмотреть **[мой профиль LinkedIn](https://bit.ly/lnkdn-ivlev)**
